##----------------------------------------------##
## RTLog++ .gitignore for v0.0.1-alpha          ##
##----------------------------------------------##

################################
# Build outputs (generic)
################################
build/
**/build/
bin/
out/
dist/

################################
# CMake (all platforms)
################################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
_deps/
cmake-build-*/

################################
# IDEs / Editors
################################
.idea/
*.iml
captures/
.vscode/

################################
# OS junk
################################
.DS_Store
Thumbs.db
*~
ehthumbs.db
Desktop.ini

###########################################
# Windows / Installer outputs
###########################################
Output/
*.exe
*.msi

###########################################
# Linux artifacts
###########################################
*.out
*.so

